.header_main {
    display: block;
    min-height: 100px;
}

.title {
    padding: 20px 0px 0px 2%;
    display: inline-block;
    text-align: left;
    width: 48%;
    font-size: 30px;
}


.main_header_block {
    width: 100%;
    text-align: center;
}

.username {
    padding: 20px 2% 0px 0px;
    display: inline-block;
    text-align: right;
    width: 48%;
}

.logOut_button {
    text-align: right;
    margin: 0px 30px 10px 0px;
}


.books_and_libraries {
    display: flex;
}

.libraries_list {
    width: 400px;
    padding: 50px 20px 0px 30px;

    border: 0.2rem outset;
    border-color: rgb(103,58,183);
    border-radius: 5px;
}

.libraries_list_title_button {
    display: block;
}

.libraries_list_title {
    display: inline;
    vertical-align:text-bottom;
    margin-right: 10px;
}


