.header_main {
    display: block;
    min-height: 100px;
}

.header-spacer {
    flex: 1 1 auto;
  }

.title {
    padding: 20px 0px 0px 2%;
    display: inline-block;
    text-align: left;
    width: 48%;
    font-size: 30px;
}


.main_header_block {
    width: 100%;
    text-align: center;
}

.username {
    font-size: 15px;
    padding-right: 10px;
    
    
}

.logOut_button {
    text-align: right;
    margin: 0px 30px 10px 0px;
}


.books_and_libraries {
    display: flex;
}



.libraries_list_title_button {
    display: block;
}

.libraries_list_title {
    display: inline;
    vertical-align:text-bottom;
    margin-right: 10px;
}


