.books_list_title_button {
    display: block;
    margin-bottom: 10px;
}

.books_list_title {
    display: inline;
    vertical-align:text-bottom;
    margin-right: 10px;
}

.books_list {
    padding: 50px 20px 0px 30px;
    display: block;
}

.book_card {
    width: 700px;
    margin-bottom: 20px;
}

.addBook_form {
    margin-top: 20px;
    width: 100%;
}

.addBook_input {
    width: 100%;
}