<div  *ngIf="currLibrary" class="books_list" >
    <div class="books_list_title_button">
        <h1 class="books_list_title">Books</h1>
        <button 
            *ngIf="user.isAdmin"
            mat-icon-button
            (click)="addBook()"
        >
            <mat-icon>add_circle_outline</mat-icon>
        </button>
        <form [formGroup]="addBookForm" *ngIf="!addBookFormHidden" class="addBook_form">
            <mat-form-field class="addBook_input">
                <mat-label>Name of Book</mat-label>
                <input 
                  matInput 
                  formControlName="title"
                  value="" 
                  #title 
                  required/>
            </mat-form-field>
            <mat-form-field class="addBook_input" >
                <mat-label>Author</mat-label>
                <input 
                  matInput 
                  formControlName="author"
                  value="" 
                  #author 
                  required
                />
            </mat-form-field>
            <mat-form-field class="addBook_input">
                <mat-label>Description</mat-label>
                <textarea  
                  matInput 
                  formControlName="description"
                  value="" 
                  #description 
                  required></textarea>
            </mat-form-field>

            <button 
                [disabled]="!addBookForm.valid"
                mat-raised-button
                (click)="saveNewBook(title.value, author.value, description.value)"
                color="primary">Save</button>
        </form>
    </div>


    <mat-card *ngFor="let book of books" class="book_card">
        <mat-card-header>
            <mat-card-title >
                    {{book.name}}
                    <mat-icon *ngIf="book.isBooked">bookmark</mat-icon>
            </mat-card-title>
            <mat-card-subtitle>{{book.authorName}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{book.description}}</p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button 
                *ngIf="user.isAdmin"
                mat-icon-button 
                (click)="deleteBook(book.bookId)"
            >
                <mat-icon>delete</mat-icon>
            </button>
            <button 
              mat-raised-button
              color="primary" 
              (click)="openBookDetails(book)"
            >
              MORE
            </button>
        </mat-card-actions>
    </mat-card> 
</div>