<section class="logIn">
    <div class="logIn_card">
        <mat-card>
            <mat-card-content>
                <div class="logIn_card_components">
                    <form class="logIn_input">
                        <mat-form-field hideRequiredMarker appearance="outline" class="logIn_input">
                            <mat-label>Name</mat-label>
                            <input matInput required>
                            <mat-hint align="end">Some txt</mat-hint>
                        </mat-form-field>
                        
                        <mat-form-field hideRequiredMarker appearance="outline" class="logIn_input">
                            <mat-label>Password</mat-label>
                            <input matInput required>
                            <mat-hint align="end">Some txt</mat-hint>
                        </mat-form-field>    
                    </form>

                    <button mat-raised-button class="logIn_button" color="primary">Log in</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</section>
