<section *ngIf="book" class="book_details_page">
    <div *ngIf="updateBookFormHidden" mat-dialog-title>
        <div class="title_block">
            
            <p class="title">{{book.name}}</p>
            <button 
                *ngIf="isAdmin"
                mat-icon-button 
                class="chagne_button"
                (click)="useUpdateMode()"
            >
                <mat-icon>
                    edit
                </mat-icon>
            </button>
        </div>
        
        <h4 class="author">empty</h4>

        <div mat-dialog-content>
            <p>{{book.description}}</p>
            <mat-divider></mat-divider>
            <p *ngIf="book.isBooked">Book was booked in: {{book.bookedDate | date }}</p>
        </div>
        <div>

        </div>

        <mat-dialog-actions class="book_details_buttons" align="end">
            <button mat-button mat-dialog-close>Back</button>
            <button 
                mat-raised-button 
                color="primary" 
                [disabled]="book.isBooked"
                [mat-dialog-close]="true" 
                cdkFocusInitial
                (click)="serveBook(book)"
            >
                Book
            </button>
        </mat-dialog-actions>
    </div>

    <form 
        *ngIf="!updateBookFormHidden" 
        [formGroup]="updateBookForm"
        class="updateBook_form"
    >
        <mat-form-field class="updateBook_input">
            <mat-label>Name of Book</mat-label>
            <input 
                matInput 
                formControlName="title"
                [(ngModel)]="book.name"
                required/>
        </mat-form-field>
        <mat-form-field class="updateBook_input" >
            <mat-label>Author</mat-label>
            <input 
                matInput 
                formControlName="author"
               
                required
            />
        </mat-form-field>
        <mat-form-field class="updateBook_input">
            <mat-label>Description</mat-label>
            <textarea  
                matInput 
                formControlName="description"
                [(ngModel)]="book.description"
                required
            >
            </textarea>
        </mat-form-field>

        <button 
            [disabled]="!updateBookForm.valid"
            (click)="revertChanges()"
            mat-raised-button
            class="updateBook_button"
        >
            back
        </button>
        <button 
            [disabled]="!updateBookForm.valid"
            (click)="saveUpdateChanges()"
            mat-raised-button
            color="primary"
            class="updateBook_button"
        >
            Save
        </button>
    </form>
</section>

