<section *ngIf="book" class="book_details_page">
    <div *ngIf="updateBookFormHidden" mat-dialog-title>
        <div class="title_block">
            
            <p class="title">{{book.name}}</p>
            <button 
                *ngIf="isAdmin()"
                mat-icon-button 
                class="chagne_button"
                (click)="openAddUpdateForm()"
            >
                <mat-icon>
                    edit
                </mat-icon>
            </button>
        </div>
        
        <h4 class="author">{{this.authorService.getConcatAuthors(book.authors)}}</h4>

        <div mat-dialog-content>
            <p>{{book.description}}</p>
            <mat-divider></mat-divider>
            <div *ngFor="let order of sortedOrderList">
                <span>
                    Book was ordered: {{order.startDateTime | date}} - {{order.endDateTime | date}}
                    <span *ngIf="isAdmin()">by {{this.userService.getUserNameById(order.userId)}}</span>        
                </span>
            </div>
            

        </div>  

        <button  mat-button mat-dialog-close cdkFocusInitial>Back</button>
        <mat-dialog-actions align="end" *ngIf="!isAdmin()">
            <mat-form-field>
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [min]="nowDate" [dateFilter]="myFilter" [formGroup]="bookedDateRange" [rangePicker]="picker" >
                    <input   matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              
                <mat-error *ngIf="bookedDateRange.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                <mat-error *ngIf="bookedDateRange.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
            </mat-form-field>
            <button
                
                mat-raised-button 
                color="primary" 
            
                (click)="serveBook()"
            >
                Order
            </button>
        </mat-dialog-actions>
    </div>
</section>

