<section *ngIf="book" class="book_details_page">
    <div *ngIf="updateBookFormHidden" mat-dialog-title>
        <div class="title_block">
            
            <p class="title">{{book.name}}</p>
            <button 
                *ngIf="isAdmin"
                mat-icon-button 
                class="chagne_button"
                (click)="useUpdateMode()"
            >
                <mat-icon>
                    edit
                </mat-icon>
            </button>
        </div>
        
        <h4 class="author">empty</h4>

        <div mat-dialog-content>
            <p>{{book.description}}</p>
            <mat-divider></mat-divider>
            <p *ngIf="book.isBooked">Book was booked in: {{book.bookedDate | date }}</p>
        </div>

        <mat-dialog-actions align="end">
            <button  mat-button mat-dialog-close>Back</button>
            <mat-form-field color="primary">
                <mat-label>Book Date</mat-label>
                <input [formControl]="bookedDate" matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle [disabled]="book.isBooked" matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker color="primary" disabled="false"></mat-datepicker>
            </mat-form-field>
            <button
                mat-raised-button 
                color="primary" 
                [disabled]="book.isBooked"
                
                cdkFocusInitial
                (click)="serveBook(book)"
            >
                Book
            </button>
        </mat-dialog-actions>
    </div>

    <form 
        *ngIf="!updateBookFormHidden" 
        [formGroup]="updateBookForm"
        class="updateBook_form"
    >
        <mat-form-field class="updateBook_input">
            <mat-label>Name of Book</mat-label>
            <input 
                matInput 
                formControlName="title"
                [(ngModel)]="book.name"
                required/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Author</mat-label>
            <input type="text" matInput formControlName="author" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let author of auhtorsList | async" [value]="author">
                {{author.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

        <!-- <mat-form-field class="updateBook_input" >
            <mat-label>Author</mat-label>
            <input 
                matInput 
                formControlName="author"
               
                required
            />
        </mat-form-field> -->
        <mat-form-field class="updateBook_input">
            <mat-label>Description</mat-label>
            <textarea  
                matInput 
                formControlName="description"
                [(ngModel)]="book.description"
                required
            >
            </textarea>
        </mat-form-field>

        <button 
            [disabled]="!updateBookForm.valid"
            (click)="revertChanges()"
            mat-raised-button
            class="updateBook_button"
        >
            back
        </button>
        <button 
            [disabled]="!updateBookForm.valid"
            (click)="saveUpdateChanges()"
            mat-raised-button
            color="primary"
            class="updateBook_button"
        >
            Save
        </button>
    </form>
</section>

